# Sales Anlysis

#### Importing the Nescessary Libraries

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

##### Loading the DataSets

In [38]:
import os

# inorder to load the 12 datasheets into one datasheet we will use for loops

cwd = os.getcwd()
path = './Sales_Data'

files = [file for file in os.listdir(path) if not file.startswith('.')]  #populates list files variable with file each file name that is not invisible in the path directory
df_final = pd.DataFrame()

for file in files:
    temp_df = pd.read_csv(path+'/'+file)
    df_final = pd.concat([df_final, temp_df])

print('Shape After Joining Each csv file', df_final.shape)
df_final.head()

Shape After Joining Each csv file (186850, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

## Initial Analysis - Removing Duplicates and Missing Values EDA

In [39]:
df_final.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [40]:
null_values = df_final[df_final.isna().any(axis=1)]
null_values.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

There Seem to be rows that are missing data all the way across the dataset we can get rid of them.

In [41]:
df_final.dropna(axis=0, inplace=True)
print('Shape after dropping null values', df_final.shape)
print('We removed',null_values.shape[0], 'rows')
df_final.head()

Shape after dropping null values (186305, 6)
We removed 545 rows

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [42]:
# tidying our data Feature Engineering and making sure we have the right dtypes
display(df_final.dtypes)
df_final['Quantity Ordered'] = pd.to_numeric(df_final['Quantity Ordered'])
df_final['Price Each'] = pd.to_numeric(df_final['Price Each'])

df_final.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

ValueError: Unable to parse string "Quantity Ordered" at position 517

In [ ]:
df_final.head(520)

### Question 1 -
##### What was the best month for sales

### Question 2 -
##### What City Sold the most product